<h1>Create a new literature log</h1>

<% if flash.has?(:message) %>
  <span style="color:red"><%= flash[:message] %></span>
<% end %>
<br>
<form action="/logs" method="POST">
		<table align="center">       
        <tr><td><label>Book Title: </label>
                <input type="text" id="book_title" name="log[book_title]"></td></tr> 
        <tr><td><label>Start Page: </label>
                <input type="text" id="start_page" name="log[start_page]"></td></tr>
        <tr><td><label>End Page:    </label>
                <input type="text" id="end_page" name="log[end_page]"></td></tr>
        <tr><td><label>Summary: List 3 key events/details from this section of the book.</label></td></tr>
        <tr><td><textarea class="content" id="summary" name="log[summary]" placeholder="summary" rows="5" cols="150"></textarea></td></tr> 
        <tr><td><label>Techniques: Write one technique that seems important in your novel.</label></td></tr>
        <tr><td><textarea id="techniques" name="log[techniques]" placeholder="techniques"></textarea></td></tr>
        <tr><td><label>Characters: Describe one of the primary characters in your novel.</label></td></tr>
        <tr><td><textarea id="characters" name="log[characters]" placeholder="characters"></textarea></td></tr>
        <tr><td><label>Word Choice: How would you describe the language/word choice in your book? </label></td></tr>
        <tr><td><textarea id="word_choice" name="log[word_choice]" placeholder="word_choice"></textarea></td></tr> 
        <tr><td><label>Metacognition: Describe your experience reading this book. (Fun? Boring? Confusing?)</label></td></tr>
        <tr><td><textarea id="start_page" name="log[metacognition]" placeholder="metacognition"></textarea></td></tr>
        <tr><td><label>Question: Write one discussion question for your book club meeting.</label></td></tr>
        <tr><td><input type="text" id="question" name="log[question]"></td></tr>
        <tr><td><input type="submit" value="submit" class="button"></td></tr>        
		</table>
</form>