<h1>Welcome to the Book Club app!</h1>
<table align="center">       
        <tr><td><h2>Join a book club today and start reading!</h2></td></tr>
        <tr><td><a class="button" href="/signup">Sign up</td></tr> 
        <tr><td><a class="button" href="/login">Log in</a></td></tr>        
</table>