<!doctype html>
<html>
  <head>
    <title>Book Club Literature Log</title>
    <STYLE type="text/css">
        h1 {border: none; text-align: center; color: #3C787E;}
        h2 {border: none; text-align: left; color: #3C787E;}
        textarea {
                  height: 60px;
                  width: 750px;
                  font: normal 0.75em Verdana, sans-serif;
                  background-color: beige; 
                  overflow: auto;
                  }
        table {width:60%;}
        th, td {
                  padding: 5px;
                  text-align: left;
                  height: 15px;
                }
        input[type="text"] {width: 600px; height: 30px; font-size: 16px;}
        input[type="password"] {width: 600px; height: 30px; font-size: 16px;}

        .button {
                  background-color: #3C787E;
                  border: none;
                  border-radius: 15px;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 18px;
                }
    </STYLE>
  </head>
  <body>
      <nav>
      <% if logged_in? %>
        <a class="button" href="/book_clubs">All Book Clubs</a>
        <a class="button" href="/meetings">All Meetings</a>
        <a class="button" href="/logs">All Reading Logs</a>
        <a class="button" href="/logs/new"> New Reading Log </a>
        <a class="button" href="/logout"> Log Out </a>
        <p>Hello! <%=current_user.username %></p>

      <% else %>
        <a class="button" href="/signup">Sign Up</a>
        <a class="button" href="/login"> Log In </a>
      <%end %>

    </nav>
    <div class="container">
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>    
  </body>
</html>