<!doctype html>
<html>
  <head>
    <title>Book Club</title>
    <STYLE type="text/css">
        H1 {border: none; text-align: center; color: #7E759A;}
        H2 {border: none; text-align: left; color: #7E759A;}
        table {width:60%;}
        th, td {
                  padding: 5px;
                  text-align: left;
                  height: 15px;
                }
        input[type="text"] {width: 600px; height: 30px; font-size: 16px;}
        input[type="password"] {width: 600px; height: 30px; font-size: 16px;}
        .button {
                  background-color: #7E7F9A;
                  border: none;
                  border-radius: 15px;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 18px;
                }
    </STYLE>
  </head>
  <body>

    <div class="container">
      <p><a class="button" href="/">Book Club</a></p>
    </div>
    <%= yield %>
  </body>
</html>