<!doctype html>
<html>
  <head>
    <title>Book Club</title>
    <STYLE type="text/css">
        h1 {border: none; text-align: center; color: #3C787E;}
        h2 {border: none; text-align: left; color: #3C787E;}
        textarea {
                  height: 60px;
                  width: 750px;
                  font: normal 0.75em Verdana, sans-serif;
                  background-color: beige; 
                  overflow: auto;
                  }
        table {width:60%;}
        th, td {
                  padding: 5px;
                  text-align: left;
                  height: 15px;
                }
        input[type="text"] {width: 600px; height: 30px; font-size: 16px;}
        input[type="password"] {width: 600px; height: 30px; font-size: 16px;}

        .button {
                  background-color: #3C787E;
                  border: none;
                  border-radius: 15px;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 18px;
                }
    </STYLE>
  </head>
  <body>

    <div class="container">
      <p><a class="button" href="/">Book Club</a></p>
    </div>
    <%= yield %>
  </body>
</html>